@import '../../config';
@import '../../utils';

.expense-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 1px solid $light-color;
    height: 5.5rem;
    width: 5rem;

    &_date {
        color: $secondary-color;
    }
}
