@import '../../config';
@import '../../utils';

.expense-item {
    font-weight: 500;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    background-color: #222;
    padding: 1rem 1.5rem;

    &_left {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-between;
    }

    &_title {
        font-size: 1.1rem;
    }

    &_amount {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $secondary-color;
        height: 2.75em;
        min-width: 6rem;
    }

    &:hover {
        border-left: 2px solid $secondary-color;
        transition: transform 0.75s ease-in-out;
        transform: scale(1.01);
        cursor: pointer;
    }
}
