@import '../../config';
@import '../../utils';

.new-expense {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    .add-expense-toggle {
        align-self: center;
        padding: 1.25rem 2.5rem;
    }
}
