@import '../../config';
@import '../../utils';

.new-expense {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    .add-expense-toggle {
        align-self: center;
        padding: 1.25rem 2.5rem;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: #fff;
    background-color: transparent;
    transition: background-color 50000s ease-in-out 0s;
}
